/* body {
    font-family: Arial, sans-serif;
    margin: 5000px;
} */

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.header-primary {
    background-color: white;
    color: white;
    padding: 2px 0;
}
.header-primary .logo img {
    max-width: 100px;
}
.top-nav .nav-link {
    color: #005B99 !important;
    background-color: white;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.top-nav .nav-link:hover {
    background-color: #003366;
    color: white !important;
}
.header-secondary {
    background-color: #005B99;
    color: #003366 !important;
    padding: 10px 0;
}

.text-blue {
    color: #003366 !important; 
}


/* .header-secondary .nav-link {
    color: white !important;
    font-weight: bold;
    margin-right: 15px;
} */

/* .header-secondary .nav-item:not(:last-child)::after {
    content: "|";
    color: white;
    margin-left: 15px;
} */
 
.header-secondary .navbar-toggler {
    background-color: white;
}
.header-terciary {
    background-color: #003366;
    color: white;
    padding: 20px 0;
}
.header-terciary .search-text {
    font-size: 24px;
    font-weight: bold;
}
.header-terciary .search-icon {
    width: 24px;
    height: 24px;
    fill: #00AEEF;
}
.highlight-blue {
    color: #00AEEF;
}
.highlight-white {
    color: white;
}
.footer {
    background-color: #005B99;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;    
    width: 100%;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease;
}

.loading-img {
    width: 100px;
    margin-bottom: 20px;
}

.progress {
    width: 50%;
}

.progress-bar {
    background-color: #00AEEF;
}

.header-secondary .nav-link {
    color: rgb(16, 155, 173);
}

.header-secondary .nav-link:hover {
    background-color: #003366;
    color: white !important;
}


.nav-link {
    text-decoration: none;
    color: #007bff; 
    transition: color 0.3s;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-link:hover {
    color: white;
    background-color: #0004ff; 
}

.nav-item {
    margin-right: 5px; 
}


/* Mensagem de sucesso */

.modal-sucesso {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rbb(0, 0, 0);
}

.content-modal-mnsg {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Página sobre */

.container-sobre {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.highlight {
    font-weight: bold;
    color: #007bff;
}

.btn-sobre {
    display: inline-block;
    background-color: #006ee4;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-sobre:hover {
    background-color: #007bff;
    color: white;
    text-decoration: none;
}


